05 WebProgramming Term4/Lab 03/Folderrestaurant_reviews.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="www.algonquincollege.com/onlineservice/reviews" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="restaurants">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="restaurant">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element minOccurs="0" name="logo" type="xs:string" />
              <xs:element name="image">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="imageName" type="xs:string" />
                    <xs:element name="imageSize">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="width" type="xs:unsignedByte" />
                          <xs:element name="height" type="xs:unsignedByte" />
                        </xs:sequence>
                        <xs:attribute name="dimension" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="street" type="xs:string" />
                    <xs:element name="city" type="xs:string" />
                    <xs:element name="province" type="xs:string" />
                    <xs:element name="postalCode" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="phone">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="areaCode" type="xs:unsignedShort" />
                    <xs:element name="number" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="summary" type="xs:string" />
              <xs:element name="date">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="day" type="xs:unsignedByte" />
                    <xs:element name="month" type="xs:string" />
                    <xs:element name="year" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="reviewer" type="xs:string" />
              <xs:element name="rating">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:unsignedByte">
                      <xs:attribute name="type" type="xs:string" use="required" />
                      <xs:attribute name="max_value" type="xs:unsignedByte" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="menu">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element minOccurs="0" name="bulk_price">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="min_qty" type="xs:unsignedByte" use="required" />
                                  <xs:attribute name="currency" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="price">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="currency" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>