05 WebProgramming Term4/Lab 08/App_WebReferences/RestaurantReviewService/RestaurantReviewService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AlgonquinCollege.onlineservice.restaurantReview" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AlgonquinCollege.onlineservice.restaurantReview" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RestaurantInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Summary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestaurantInfo" nillable="true" type="tns:RestaurantInfo" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfRestaurantInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RestaurantInfo" nillable="true" type="tns:RestaurantInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurantInfo" nillable="true" type="tns:ArrayOfRestaurantInfo" />
</xs:schema>